<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시판 페이지</title>
    <link rel="stylesheet" type="text/css" href="/board.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
</head>
    <body>
        <div th:replace="~{header :: headerFragment}"></div>

        <main class="container">
            <div class="row">
                <div class="card card-margin search-form">
                    <div class="card-body p-0">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row no-gutters">
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <label for="search-type" hidden>검색 유형</label>
                                            <select class="form-control" id="search-type" name="searchType">
                                                <option>제목</option>
                                                <option>본문</option>
                                                <option>작성자</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                            <label for="search-value" hidden>검색어</label>
                                            <input type="text" placeholder="검색어..." class="form-control" id="search-value" name="searchValue">
                                        </div>
                                        <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                            <button type="submit" class="btn btn-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                                    <circle cx="11" cy="11" r="8"></circle>
                                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>글 번호</th>
                            <th>제목</th>
<!--                            <th>작성자</th>-->
                            <th>작성일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post, loop : ${posts}">
                            <td th:text="${posts.getTotalElements - (posts.number * posts.size) - loop.index}"></td>
                            <td>
                                <a id="titleH"
                                   th:href="@{/posts/{id}(id = ${post.id})}"
                                   th:text="${post.title}">
                                    제목
                                </a>
                                <span class="text-danger small ms-2"
                                      th:if="${#lists.size(post.comments) > 0}"
                                      th:text="|[${#lists.size(post.comments)}]|">
                                </span>
                            </td>
<!--                            <td class="user-id">Junhyeong</td>-->
                            <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}">2023-02-17</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>

            <div class="row">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-primary me-md-2" role="button" href="/posts/create">글 작성</a>
                </div>
            </div>

            <br>

            <div class="row">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">

                        <li class="page-item">
                            <a class="page-link"
                               th:text="'previous'"
                               th:href="@{/posts(page=${posts.number - 1})}"
                               th:class="'page-link' + (${posts.number} <= 0 ? ' disabled' : '')">
                                <span>Previous</span>
                            </a>
                        </li>

                        <li th:class="page-item" th:each="pageNumber : ${barNumbers}">
                            <a th:text="${pageNumber + 1}"
                               th:href="@{/posts(page=${pageNumber})}"
                               th:class="'page-link' + (${pageNumber} == ${posts.number} ? ' disabled' : '')">
                            </a>
                        </li>

                        <li class="page-item">
                            <a th:text="'next'"
                               th:href="@{/posts(page=${posts.number + 1})}"
                               th:class="'page-link' + (${posts.number} >= ${posts.totalPages - 1} ? ' disabled' : '')">
                                <span>Next</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </main>

        <div th:replace="~{footer :: footerFragment}"></div>
    </body>
</html>
