<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시글</title>
    <link rel="stylesheet" type="text/css" href="/post.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
</head>
<body>
    <div th:replace="~{header :: headerFragment}"></div>

    <main class="container">
        <header class="py-5 text-center">
            <h2 th:text="${post.title}">제목</h2>
        </header>

        <div class="row g-2">
            <section class="col-md-3 col-lg-4 order-md-last">
                <aside>
                    <p><span th:if="${post.member != null}" th:text="${post.member.username}">Junhyeong</span></p>
                    <p><span th:if="${post.member == null}">null</span></p>
                    <p th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}">2023-02-17</p>
                </aside>
            </section>

            <article class="col-md-9 col-lg-8">
                <pre th:text="${post.content}">본문</pre>
            </article>
        </div>

        <br><br><br><br><br><br>

        <div class="row g-5">
            <form>
                <div class="pb-5 d-grid gap-2 d-md-block">
                    <a class="btn btn-success me-md-2" role="button"
                       th:href="@{|/post/modify/${post.id}|}"
                       sec:authorize="isAuthenticated()"
                       th:if="${post.member != null and #authentication.getPrincipal().getUsername() == post.member.username}"
                       th:text="수정"></a>
                    <a class="delete btn btn-danger me-md-2" role="button"
                       href="javascript:void(0);"
                       th:data-uri="@{|/post/delete/${post.id}|}"
                       sec:authorize="isAuthenticated()"
                       th:if="${post.member != null and #authentication.getPrincipal().getUsername() == post.member.username}"
                       th:text="삭제"></a>
                </div>
            </form>
        </div>

        <div class="row g-5">
            <section>
                <h5 th:text="|${#lists.size(post.comments)}개의 댓글이 있습니다.|"></h5>
                <br>
                <form th:action="@{/comment/create/{id}(id = ${post.id})}" method="post" class="row g-3 mb-3">
                    <div class="col-md-9 col-lg-8">
                        <textarea sec:authorize="isAnonymous()" disabled class="form-control" name="content" placeholder="댓글 작성.." rows="3" required></textarea>
                        <textarea sec:authorize="isAuthenticated()" class="form-control" name="content" placeholder="댓글 작성.." rows="3" required></textarea>
                    </div>
                    <div class="col-md-3 col-lg-4">
                        <button type="submit" sec:authorize="isAnonymous()" disabled class="btn btn-primary">등록</button>
                        <button type="submit" sec:authorize="isAuthenticated()" class="btn btn-primary">등록</button>
                    </div>
                </form>

                <ul th:each="comment : ${post.comments}" class="row col-md-10 col-lg-8 pt-3">
                    <a th:id="|comment-${comment.id}|"></a>
                    <li>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-md-10 col-lg-9">
                                    <strong th:if="${comment.member != null}" th:text="${comment.member.username}">Junhyeong</strong>
                                    <strong th:if="${comment.member == null}">null</strong>
                                    <small th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}">2023-02-17</small>
                                    <p th:text="${comment.content}">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet
                                    </p>
                                </div>
                                <div class="col-3 mb-2 align-self-center">
                                    <a class="btn btn-outline-success"
                                       th:href="@{|/comment/modify/${comment.id}|}"
                                       sec:authorize="isAuthenticated()"
                                       th:if="${comment.member != null and #authentication.getPrincipal().getUsername() == comment.member.username}"
                                       th:text="수정"></a>
                                    <a class="delete btn btn-outline-danger"
                                        href="javascript:void(0);"
                                        th:data-uri="@{|/comment/delete/${comment.id}|}"
                                        sec:authorize="isAuthenticated()"
                                        th:if="${comment.member != null and #authentication.getPrincipal().getUsername() == comment.member.username}"
                                        th:text="삭제"></a>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>

            </section>
        </div>

        <div th:replace="~{footer :: footerFragment}"></div>
    </main>

<!-- 삭제 버튼 클릭시 재확인 -->
    <script type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>

</body>
</html>
